<!-- breadcrumb-area start -->
<div class="section-ptb breadcrumb-area" style="background-image:url({{ entry.banner.one().getUrl() }})">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="breadcrumb-title">{{ entry.title }}</h2>
                <!-- breadcrumb-list start -->
                <ul class="breadcrumb-list">
                    <li class="breadcrumb-item"><a href="index.html">{{ entry.subtitle }}</a></li>
                    <!-- <li class="breadcrumb-item active">About Us</li> -->
                </ul>
                <!-- breadcrumb-list end -->
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb-area end -->