<form  action="{{ url('search/results') }}">
    <input type="search" name="q" placeholder="Search the Blog">
    <button class=" btn-search" type="submit" value="search"><i class="ion-ios-search-strong"></i></button>
</form>